@{
    Layout = "_Layout.cshtml";
    Page.Title = "Thông tin diễn viên - Giải thưởng cánh diều vàng ";
}

@{
    var db = Database.Open("DefaultConnection");
    var actorID = Request["actorID"];

    if (actorID == null)
    {
        <script type="text/javascript">setTimeout(function () { alert('Không tìm thấy diễn viên bạn muốn tìm!'); }, 5000);</script>
    }

    string userID = "ND1";
    if (Session["userID"] != null)
    {
        userID = Session["userID"].ToString();
    }

    var actorInfo = db.Query("SELECT * FROM DienVien WHERE MaDV = '" + actorID + "'").ElementAt(0);
    var actorImgList = db.Query("SELECT * FROM HinhAnhDV WHERE MaDV = '" + actorID + "'");
    var actorAwardList = db.Query("SELECT TenGiaiThuongDV, Nam, HinhAnhGT, TenLoaiGT FROM GiaiThuongDienVien INNER JOIN LoaiGiaiThuongDV ON GiaiThuongDienVien.MaLoaiGT = LoaiGiaiThuongDV.MaLoaiGT " +
        "WHERE MaDV = '" + actorID + "'");
    var othersActor = db.Query("SELECT DISTINCT TOP 8 DienVien.MaDV, TenDV, HinhAnhDV FROM DienVien");
    var commentList = db.Query("SELECT * FROM BinhLuanDienVien INNER JOIN Users ON BinhLuanDienVien.MaNguoiDung = Users.MaNguoiDung WHERE MaDV = '" + actorID + "'");

    var currentUserInfo = db.Query("SELECT TOP 1 MaNguoiDung FROM Users").ElementAt(0);
    if (Session["userID"] != "" && Session["userID"] != null)
    {
        currentUserInfo = db.Query("SELECT * FROM Users WHERE MaNguoiDung = '" + userID + "'").ElementAt(0);
        bool result = insertComment();
        if (result)
        {
            commentList = db.Query("SELECT * FROM BinhLuanDienVien INNER JOIN Users ON BinhLuanDienVien.MaNguoiDung = Users.MaNguoiDung WHERE MaDV = '" + actorID + "'");
        }
    }
    db.Close();
}


@functions{

    public string comment { get; set; }
    public string action { get; set; }

    public bool insertComment()
    {
        if (IsPost)
        {
            action = Request.Form["action"];
            if (action == "actorComment")
            {
                comment = Request.Form["comment"];

                try
                {
                    if(comment != null && comment != "")
                    {
                        var db = Database.Open("DefaultConnection");
                        var index = getMaxCommentID();
                        var result = db.Query("INSERT INTO BinhLuanDienVien VALUES('" + index + "','" + Session["userID"] + "',N'" + comment + "','" + Request["actorID"].ToString() + "',0,'" + DateTime.Now + "');");
                        db.Close();
                        return true;
                    }
                }
                catch (Exception ex)
                {
                    return false;
                }

            }
        }
        return false;
    }

    public string getMaxCommentID()
    {
        var db = Database.Open("DefaultConnection");

        var commentInfo = db.Query("SELECT MAX(MaBinhLuanDV) AS MaxMaBL FROM BinhLuanDienVien");
        db.Close();

        if (commentInfo.Count() > 0 && commentInfo.ElementAt(0).MaxMaBL != null)
        {
            string maxCommentID = commentInfo.ElementAt(0).MaxMaBL;
            string index = (int.Parse(maxCommentID.Substring(2, 4)) + 1).ToString();

            switch (index.Length)
            {
                case 1:
                    index = "000" + index;
                    break;
                case 2:
                    index = "00" + index;
                    break;
                case 3:
                    index = "0" + index;
                    break;
            }

            return maxCommentID.Substring(0, 2) + index;
        }
        else
        {
            return "BL0001";
        }

    }
}


<!--Style for element in page-->
@section styles {
    <link rel="stylesheet" href="~/Content/css/actor.css" />
}

<!--Script js for page-->
@section scripts{
    @*<script type="text/javascript" src="~/Scripts/js/actor.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            var others_actor = new Swiper('#other-actors .swiper-container', {
                speed: 500,
                slidesPerView: 3.25,
                centeredSlides: false,
                spaceBetween: 20,
                lazy: true,
                autoplay: {
                    delay: 4000,
                    disableOnInteraction: false,
                },
                breakpoints: {
                    768: {
                        slidesPerView: 1.25,
                        spaceBetweenSlides: 0
                    }
                }
            });

            var award_achieved = new Swiper('#award-achieved .swiper-container', {
                speed: 500,
                slidesPerView: 3,
                centeredSlides: false,
                pagination: {
                    el: '.swiper-pagination',
                },
                breakpoints: {
                    768: {
                        slidesPerView: 1,
                        spaceBetweenSlides: 0
                    }
                }
            });

            var actor_images = new Swiper('#actor-images .swiper-container', {
                speed: 500,
                sliderPerView: 3,
                // autoplay: {
                //     delay: 5000,
                //     disableOnInteraction: false,
                // },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                breakpoints: {
                    768: {
                        slidesPerView: 1,
                        spaceBetweenSlides: 0
                    }
                }
            });

            $('#actor-images .screen-img').on('click', function () {
                var img = $('#img-popup .img img').attr('src', $(this).children().attr('src'));
                popup();
            });

            $('#img-popup .popup-container img').css('max-width', screen.width);
            $('#img-popup .popup-container img').css('max-height', screen.height - 200);

            function popup() {
                $('#img-popup').bPopup({
                    modalClose: true,
                    opacity: 0.6,
                    positionStyle: 'fixed',
                    speed: 650,
                    transition: 'slideIn',
                    transitionClose: 'slideBack',
                    closeClass: 'close-popup-btn',
                    onOpen: function () {
                        $('body').css('overflow', 'hidden');
                    },
                    onClose: function () {
                        $('body').css('overflow', 'auto');
                    }
                });
            }

            $('.like-btn').on('click', function () {
                if ("@Session["userID"]" != "") {
                    var commentID = $(this).parent().attr("data-comment-id");
                    var data = { commentID: commentID, userID: '@Session["userID"]', type: '2'};
                    $.ajax({
                        type: "POST",
                        url: "/evaluationComment",
                        data: data,
                        datatype: "html",
                        success: function (data) {
                            $('.comment-vote[data-comment-id=' + commentID + '] .number-like').html(data);
                        }
                    });
                } else {
                    setTimeout(function () { alert("Xin hãy đăng nhập trước khi vote bình luận!"); }, 100);
                }
            });

            $('.dislike-btn').on('click', function () {
                if ("@Session["userID"]" != "") {
                    var commentID = $(this).parent().attr("data-comment-id");
                    var data = { commentID: commentID, userID: '@Session["userID"]', type: '3'};
                    $.ajax({
                        type: "POST",
                        url: "/evaluationComment",
                        data: data,
                        datatype: "html",
                        success: function (data) {
                            $('.comment-vote[data-comment-id=' + commentID + '] .number-like').html(data);
                        }
                    });
                } else {
                    setTimeout(function () { alert("Xin hãy đăng nhập trước khi vote bình luận!"); }, 100);
                }
            });

        });
    </script>
}

<!--Begin page content-->
<section class="actor-info">
    <div class="container-fluid">
        <div class="actor-avatar col-md-4">
            <img src="@actorInfo.HinhAnhDV">
        </div>
        <div class="actor-info-content col-md-8">
            <h3 class="name">@actorInfo.TenDV</h3>
            <div class="basic-info col-md-6">
                <p class="text">Tên thật: @actorInfo.TenThatDV</p>
                <p class="text">biệt danh: @actorInfo.BietDanhDV</p>
                <p class="text">Ngày sinh: @actorInfo.NgaySinhDV</p>
                <p class="text">@actorInfo.SoLuocDV</p>
            </div>
            <div class="more-info col-md-6">
                <p class="text">@actorInfo.ThongTinDV</p>
            </div>
        </div>
    </div>
</section>
<section class="artist">
    <div class="container">
        <h3 class="title">Tóm tắt quá trình hoạt động nghệ thuật</h3>
        <div class="content">
            @{string[] progressContent = actorInfo.QuaTrinhHoatDong.Split(';');}
            @foreach (var str in progressContent)
            {<p class="text">@str</p>}
        </div>
    </div>
</section>
<section id="actor-images">
    <h3 class="title">Một số hình ảnh trong phim</h3>
    <div id="some-img" class="swiper-container">
        <div class="swiper-wrapper">
            @for (int i = 0; i < actorImgList.Count() / 6; i++)
            {
                <div class="swiper-slide">
                    @for (int j = 0; j < actorImgList.Count() / 3; j++)
                    {
                        <div class="row">
                            @for (int e = 6 * i; e < 6 * (i + 1); e++)
                            {
                                if (actorImgList.ElementAt(e).Link != null)
                                {
                                    <div class="img-container col-md-4">
                                        <a>
                                            <div class="screen-img">
                                                <img src="@actorImgList.ElementAt(e).Link">
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <div class="swiper-button-prev swiper-button-white "></div>
        <div class="swiper-button-next swiper-button-white "></div>
    </div>
</section>
<section id="award-achieved">
    <div class="container">
        <h3 class="title">Các giải thưởng đã đạt được</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var award in actorAwardList)
                {
                    <div class="swiper-slide">
                        <div class="award">
                            <div class="award-img">
                                <img src="@award.HinhAnhGT">
                            </div>
                            <div class="award-content">
                                <div class="name">@award.TenGiaiThuongDV - @award.Nam</div>
                                <div class="text">@award.TenLoaiGT</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="comments">
    <div class="container">
        <div class="comments-content">
            <h3 class="title">Bình luận về tác phẩm</h3>
            @if (commentList.Count() > 0)
            {
                <div style="max-height: 700px; overflow:auto;">
                    @foreach (var comment in commentList)
                    {
                        <div class="comment-container">
                            <i class="fa fa-close"></i>
                            <div class="comment">
                                <div class="col-md-1 col-xs-4 block">
                                    <div class="comment-vote" data-comment-id="@comment.MaBinhLuanDV">
                                        <i class="like-btn fa fa-caret-up"></i>
                                        <p class="number-like">@comment.DanhGia</p>
                                        <i class="dislike-btn fa fa-caret-down"></i>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-8 block">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="@comment.HinhAnhNguoiDung">
                                        </div>
                                        <div class="user-info">
                                            @{
                                                string userName = comment.TenNguoiDung as string;
                                                if (userName.Length > 16)
                                                {
                                                    <p class="name">@userName.Substring(0, 13)...</p>
                                                }
                                                else
                                                {
                                                    <p class="name">@userName</p>
                                                }
                                            }
                                            <p class="type-user">@comment.LoaiND</p>
                                            <p class="score">@comment.Level</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9 col-xs-12 block">
                                    <div class="comment-content">
                                        <div class="top-block row">
                                            <p class="date-time-comment">@comment.ThoiGian</p>
                                        </div>
                                        <div class="mid-block">
                                            <div class="comment-text">
                                                <p class="text">@comment.BinhLuanDV</p>
                                            </div>
                                        </div>
                                        <div class="bottom-block row">
                                            <div class="block col-md-6 col-xs-6">
                                                <p class="amount-of-response"></p>
                                            </div>
                                            <div class="block col-md-6 col-xs-6">
                                                @*<a><div class="btn see-response-btn">Xem phản hồi</div></a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            @if (Session["userID"] != "" && Session["userID"] != null)
            {
                <div class="comment-maker">
                    <div class="col-md-2 col-xs-12 block">
                        <div class="user">
                            <div class="avatar">
                                <img src="@currentUserInfo.HinhAnhNguoiDung">
                            </div>
                            <div class="user-info">
                                @{
                                    string currentUserName = currentUserInfo.TenNguoiDung as string;
                                    if (currentUserName.Length > 16)
                                    {
                                        <p class="name">@currentUserName.Substring(0, 13)...</p>
                                    }
                                    else
                                    {
                                        <p class="name">@currentUserName</p>
                                    }
                                }
                                <p class="type-user">@currentUserInfo.LoaiND</p>
                                <p class="score">@currentUserInfo.Level</p>
                            </div>
                        </div>
                    </div>
                    <form class="col-md-10 col-xs-12 block" method="post">
                        <textarea class="comment-area" name="comment"></textarea>
                        <input type="hidden" name="action" value="actorComment" />
                        <input type="submit" class="btn comment-btn" value="BÌNH LUẬN">
                    </form>
                </div>
            }
        </div>
    </div>
</section>
<section id="other-actors">
    <h3 class="title">Một số diễn viên khác</h3>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var actor in othersActor)
            {
                <div class="swiper-slide">
                    <a href="~/actorpage.cshtml?actorID=@actor.MaDV">
                        <div class="info-content swiper-lazy">
                            <div class="avatar">
                                <img data-src="@actor.HinhAnhDV" class="swiper-lazy">
                            </div>
                            <p class="name">@actor.TenDV</p>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<div id="img-popup">
    <div class="popup-container">
        <i class="fa fa-close close-popup-btn"></i>
        <div class="popup-content">
            <div class="img">
                <img src="">
            </div>
        </div>
    </div>
</div>
<!--End page content-->
