@{
    Layout = "_Layout.cshtml";
    Page.Title = "Thông tin phim - Giải thưởng cánh diều vàng";
    Page.Index = -1;
}

@{
    var db = Database.Open("DefaultConnection");

    if (db == null)
    {
        <script type="text/javascript">setTimeout(function () { alert('Kiểm tra nối đến DB của bạn!'); }, 2500);</script>
    }

    var filmID = Request["filmID"];
    string userID = "ND1";
    if (Session["userID"] != null)
    {
        userID = Session["userID"].ToString();
    }


    if (filmID == null)
    {
        <script type="text/javascript">setTimeout(function () { alert('Không tìm thấy film bạn muốn tìm!'); }, 5000);</script>
    }

    var filmInfo = db.Query("SELECT * FROM Phim INNER JOIN LoaiPhim ON Phim.MaLoaiPhim = LoaiPhim.MaLoaiPhim WHERE MaPhim = '" + filmID + "'").ElementAt(0);
    var filmImgList = db.Query("SELECT * FROM HinhAnhPhim WHERE MaPhim = '" + filmID + "'");
    var filmAwardList = db.Query("SELECT TenGiaiThuongPhim, Nam, NoiDungGiaiThuong, HinhAnhGT FROM GiaiThuongPhim WHERE MaPhim = '" + filmID + "'");
    var othersFilm = db.Query("SELECT DISTINCT TOP 8 Phim.MaPhim, TenPhim, Link " +
        "FROM Phim INNER JOIN HinhAnhPhim ON Phim.MaHinhAnhPhim = HinhAnhPhim.MaHinhAnhPhim");
    var commentList = db.Query("SELECT * FROM BinhLuanPhim JOIN Users ON BinhLuanPhim.MaNguoiDung = Users.MaNguoiDung WHERE MaPhim = '" + filmID + "' ORDER BY DanhGia desc");

    var currentUserInfo = db.Query("SELECT TOP 1 MaNguoiDung FROM Users").ElementAt(0);
    if (Session["userID"] != "" && Session["userID"] != null)
    {
        currentUserInfo = db.Query("SELECT * FROM Users WHERE MaNguoiDung = '" + userID + "'").ElementAt(0);
        bool result = insertComment();
        if (result)
        {
            commentList = db.Query("SELECT * FROM BinhLuanPhim JOIN Users ON BinhLuanPhim.MaNguoiDung = Users.MaNguoiDung WHERE MaPhim = '" + filmID + "'");
        }

        db.Close();
    }
}

@functions{

    public string comment { get; set; }
    public string action { get; set; }

    public bool insertComment()
    {
        if (IsPost)
        {
            action = Request.Form["action"];
            if (action == "filmComment")
            {
                comment = Request.Form["comment"];

                try
                {
                    if(comment != null && comment != "")
                    {
                        var db = Database.Open("DefaultConnection");
                        var index = getMaxCommentID();
                        var result = db.Query("INSERT INTO BinhLuanPhim VALUES('" + index + "','" + Session["userID"] + "',N'" + comment + "','" + Request["filmID"].ToString() + "',0,'" + DateTime.Now + "');");
                        db.Close();
                        return true;
                    }
                }
                catch (Exception ex)
                {
                    return false;
                }

            }
        }
        return false;
    }

    public string getMaxCommentID()
    {
        var db = Database.Open("DefaultConnection");

        var commentInfo = db.Query("SELECT MAX(MaBinhLuanPhim) AS MaxMaBL FROM BinhLuanPhim");
        db.Close();

        if (commentInfo.Count() > 0 && commentInfo.ElementAt(0).MaxMaBL != null)
        {
            string maxCommentID = commentInfo.ElementAt(0).MaxMaBL;
            string index = (int.Parse(maxCommentID.Substring(2, 4)) + 1).ToString();
            //string index = (int.Parse(maxCommentID.Substring(2, 4))).ToString();
            switch (index.Length)
            {
                case 1:
                    index = "000" + index;
                    break;
                case 2:
                    index = "00" + index;
                    break;
                case 3:
                    index = "0" + index;
                    break;
            }

            return maxCommentID.Substring(0, 2) + index;
        }
        else
        {
            return "BL0001";
        }
    }

    public void increaseEvaluation()
    {
        var db = Database.Open("DefaultConnection");

    }
}

<!--Style for element in page-->
@section styles {
    <link rel="stylesheet" href="~/Content/css/film.css" />
}

<!--Script js for page-->
@section scripts{
    @*<script type="text/javascript" src="~/Scripts/js/film.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            var some_image = new Swiper('#picture-in-film .swiper-container', {
                speed: 500,
                sliderPerView: 3,
                // autoplay: {
                //     delay: 5000,
                //     disableOnInteraction: false,
                // },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                breakpoints: {
                    768: {
                        slidesPerView: 1,
                        spaceBetweenSlides: 0
                    }
                }
            });

            var award_achieved = new Swiper('#award-achieved .swiper-container', {
                speed: 500,
                slidesPerView: 3,
                centeredSlides: false,
                pagination: {
                    el: '.swiper-pagination',
                },
                breakpoints: {
                    768: {
                        slidesPerView: 1,
                        spaceBetweenSlides: 0
                    }
                }
            });

            var other_films = new Swiper('#other-films .swiper-container', {
                speed: 500,
                slidesPerView: 3.25,
                centeredSlides: false,
                spaceBetween: 20,
                lazy: true,
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false,
                },
                breakpoints: {
                    768: {
                        slidesPerView: 1.25,
                        spaceBetweenSlides: 0
                    }
                }
            });

            $('#picture-in-film .screen-img').on('click', function () {
                var img = $('#img-popup .img img').attr('src', $(this).children().attr('src'));
                popup();
            });

            $('#img-popup .popup-container img').css('max-width', screen.width);
            $('#img-popup .popup-container img').css('max-height', screen.height - 200);

            var isHideFilmInfo = true;

            $('#more-film-info').on('click', function () {
                if (isHideFilmInfo) {
                    $('.film-info .main-info .content').animate({ height: '200%' }, "slow");
                    $(this).animate({ textIndent: 0 }, {
                        step: function (now, fx) {
                            $(this).css('-webkit-transform', 'rotate(180deg)');
                        },
                        duration: 'slow'
                    }, 'linear');
                    isHideFilmInfo = false;
                } else {
                    $('.film-info .main-info .content').animate({ height: '64%' }, "slow");
                    $(this).animate({ textIndent: 0 }, {
                        step: function (now, fx) {
                            $(this).css('-webkit-transform', 'rotate(0deg)');
                        },
                        duration: 'slow'
                    }, 'linear');
                    isHideFilmInfo = true;
                }

            });

            function popup() {
                $('#img-popup').bPopup({
                    modalClose: true,
                    opacity: 0.6,
                    positionStyle: 'fixed',
                    speed: 650,
                    transition: 'slideIn',
                    transitionClose: 'slideBack',
                    closeClass: 'close-popup-btn',
                    onOpen: function () {
                        $('body').css('overflow', 'hidden');
                    },
                    onClose: function () {
                        $('body').css('overflow', 'auto');
                    }
                });
            }

            $('.like-btn').on('click', function () {

            });

            $('.dislike-btn').on('click', function () {

            });
        });
    </script>
}

<!--Begin page content-->
<section class="film-info">
    <div class="container-fluid">
        <div class="extra-info col-md-5">
            <div class="trailer-film">
                <iframe width="100%" height="45%" src="@filmInfo.Video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="some-info">
                <p class="text">Đạo diễn: @filmInfo.DaoDien</p>
                <p class="text">Nhà sản xuất: @filmInfo.NhaSanXuat</p>
                <p class="text">Diễn viên: @filmInfo.DienVien</p>
                @switch (filmInfo.MaLoaiPhim)
                {
                    case "LP1":
                        <p class="text">Doanh thu: @filmInfo.GhiChu</p>
                        break;
                    case "LP2":
                        <p class="text">Phát sóng tại: @filmInfo.GhiChu</p>
                        break;
                }
            </div>
        </div>
        <div class="main-info col-md-7">
            <div class="content">
                <h3 class="name">@filmInfo.TenPhim</h3>
                @{string[] content = filmInfo.NoiDungPhim.Split(';');}
                @foreach (var str in content)
                {<p class="text">@str</p>}

                <p class="text">Giới thiệu về nội dung</p>
                @{string[] introContentFilm = filmInfo.GioiThieuNoiDung.Split(';');}
                @foreach (var str in introContentFilm)
                {<p class="text">@str</p>}

                <p class="text">Nội dung phim</p>
                @{string[] contentFilm = filmInfo.NoiDungPhim.Split(';');}
                @foreach (var str in contentFilm)
                {<p class="text">@str</p>}
            </div>
        </div>
    </div>
    <a class="a-more-btn">
        <i class="fa fa-chevron-down more-btn" id="more-film-info"></i>
    </a>
</section>
<section id="picture-in-film">
    <h3 class="title">Một số hình ảnh trong phim</h3>
    <div id="some-img" class="swiper-container">
        <div class="swiper-wrapper">
            @for (int i = 0; i < filmImgList.Count() / 6; i++)
            {
                <div class="swiper-slide">
                    @for (int j = 0; j < filmImgList.Count() / 3; j++)
                    {
                        <div class="row">
                            @for (int e = 6 * i; e < 6 * (i + 1); e++)
                            {
                                if (filmImgList.ElementAt(e).Link != null)
                                {
                                    <div class="img-container col-md-4">
                                        <a>
                                            <div class="screen-img">
                                                <img src="@filmImgList.ElementAt(e).Link">
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <div class="swiper-button-prev swiper-button-white "></div>
        <div class="swiper-button-next swiper-button-white "></div>
    </div>
</section>
<section id="award-achieved">
    <div class="container">
        <h3 class="title">Các giải thưởng đã đạt được</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var award in filmAwardList)
                {
                    <div class="swiper-slide">
                        <div class="award">
                            <div class="award-img">
                                <img src="@award.HinhAnhGT">
                            </div>
                            <div class="award-content">
                                <div class="name">@award.TenGiaiThuongPhim - @award.Nam</div>
                                @{string[] awardContent = award.NoiDungGiaiThuong.Split(';');}
                                @foreach (var str in awardContent)
                                {<p class="text">@str</p>}
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="comments">
    <div class="container">
        <div class="comments-content">
            <h3 class="title">Bình luận về tác phẩm</h3>
            @if (commentList.Count() > 0)
            {
                <div style="max-height: 700px; overflow:auto;">
                    @foreach (var comment in commentList)
                    {
                        <div class="comment-container">
                            <i class="fa fa-close"></i>
                            <div class="comment">
                                <div class="col-md-1 col-xs-4 block">
                                    <div class="comment-vote">
                                        <i class="like-btn fa fa-caret-up"></i>
                                        <p class="number-like">@comment.DanhGia</p>
                                        <i class="dislike-btn fa fa-caret-down"></i>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-8 block">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="@comment.HinhAnhNguoiDung">
                                        </div>
                                        <div class="user-info">
                                            @{
                                                string userName = comment.TenNguoiDung as string;
                                                if (userName.Length > 16)
                                                {
                                                    <p class="name">@userName.Substring(0, 13)...</p>
                                                }
                                                else
                                                {
                                                    <p class="name">@userName</p>
                                                }
                                            }
                                            <p class="type-user">@comment.LoaiND</p>
                                            <p class="score">@comment.Level</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9 col-xs-12 block">
                                    <div class="comment-content">
                                        <div class="top-block row">
                                            <p class="date-time-comment">@comment.ThoiGian</p>
                                        </div>
                                        <div class="mid-block">
                                            <div class="comment-text">
                                                <p class="text">@comment.BinhLuanPhim</p>
                                            </div>
                                        </div>
                                        <div class="bottom-block row">
                                            <div class="block col-md-6 col-xs-6">
                                                <p class="amount-of-response"></p>
                                            </div>
                                            <div class="block col-md-6 col-xs-6">
                                                @*<a><div class="btn see-response-btn">Xem phản hồi</div></a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            @if (Session["userID"] != "" && Session["userID"] != null)
            {
                <div class="comment-maker">
                    <div class="col-md-2 col-xs-12 block">
                        <div class="user">
                            <div class="avatar">
                                <img src="@currentUserInfo.HinhAnhNguoiDung">
                            </div>
                            <div class="user-info">
                                @{
                                    string currentUserName = currentUserInfo.TenNguoiDung as string;
                                    if (currentUserName.Length > 16)
                                    {
                                        <p class="name">@currentUserName.Substring(0, 13)...</p>
                                    }
                                    else
                                    {
                                        <p class="name">@currentUserName</p>
                                    }
                                }
                                <p class="type-user">@currentUserInfo.LoaiND</p>
                                <p class="score">@currentUserInfo.Level</p>
                            </div>
                        </div>
                    </div>
                    <form class="col-md-10 col-xs-12 block" method="post">
                        <textarea class="comment-area" name="comment"></textarea>
                        <input type="hidden" name="action" value="filmComment" />
                        <input type="submit" class="btn comment-btn" value="BÌNH LUẬN">
                    </form>
                </div>
            }
        </div>
    </div>
</section>
<section id="other-films">
    <h3 class="title">Một số tác phẩm khác</h3>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var film in othersFilm)
            {
                <div class="swiper-slide">
                    <a href="~/filmpage.cshtml?filmID=@film.MaPhim">
                        <div class="info-content swiper-lazy">
                            <div class="avatar">
                                <img data-src="@film.Link" class="swiper-lazy">
                            </div>
                            <p class="name">@film.TenPhim</p>
                        </div>
                        <div class="swiper-lazy-preloader"></div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<div id="img-popup">
    <div class="popup-container">
        <i class="fa fa-close close-popup-btn"></i>
        <div class="popup-content">
            <div class="img">
                <img src="">
            </div>
        </div>
    </div>
</div>
<!--End page content-->