<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="lib/swiper-4.4.2/dist/css/swiper.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="lib/footer.css" />
<link rel="stylesheet" href="css/main.css" />
<title>Home Page</title>
<body>
    @{
        var db = Database.Open("DefaultConnection");
        var selectQueryString = "SELECT * FROM Phim Where GiaiThuong='Canh dieu vang'";

    }

          
            @*@foreach (var row in db.Query(selectQueryString))
            {

                    @row.MaNguoiDung
                  @row.TenNguoiDung
                  @row.TenDangNhap
                }*@



<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./index.cshtml">
                <img src="img/nav-logo-1.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./index.cshtml">TRANG CHỦ</a></li>
                <li><a href="./historypage.cshtml">LỊCH SỬ</a></li>
                <li><a href="~/listfilmpage.cshtml">BẢNG XẾP HẠNG</a></li>
                <li><a href="./index.cshtml#contact-us">LIÊN HỆ</a></li>
            </ul>
        </div>
        <div class="user-avatar">
            <a><img src="img/user-white.png"></a>
        </div>
    </div>
</nav>
<section id="kv">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div id="banner1" class="banner">
                    <div class="banner-img">
                        <img src="img/banner1.jpg" />
                    </div>
                    <div class="info-content animation">
                        <div class="black-background"></div>
                        <div class="top-block">
                            <h3 class="title">Nhìn lại Cánh diều vàng 2017</h3>
                            <p class="text">Theo nhận xét của giới chuyên môn, điện ảnh Việt Nam như đang được trẻ hóa. Nhiều bộ phim mang tính giải trí cao nhưng không còn là hài nhảm, 1/3 trong số các phim tham dự đều có chất lượng tốt và khá đồng đều. Những cái tên như Em chưa 18, Cô Ba Sài Gòn, Cô gái đến từ hôm qua… đều đạt kỷ lục doanh thu phòng vé trong thời gian vừa qua...</p>
                        </div>
                        <div class="bottom-block">
                            <a href="./newspage.cshtml">
                                <div class="btn-view-more btn">XEM THÊM</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div id="banner2" class="banner">
                    <div class="banner-img">
                        <img src="img/banner2.jpg" />
                    </div>
                    <div class="info-content">
                        <div class="black-background"></div>
                        <div class="top-block">
                            <h3 class="title">Cánh diều vàng 2017 đã có chủ</h3>
                            <p class="text">
                                Phim truyện xuất sắc:
                                <br>
                                Cánh diều vàng: Sài Gòn anh yêu em
                                <br>
                                Cánh diều bạc: 12 chòm sao: Vẽ đường cho yêu chạy và Tấm Cám: Chuyện chưa kể
                                <br>
                                Bằng khen: Cha cõng con, Sút và Bao giờ có yêu nhau
                                <br>
                                Bằng khen của BGK: Tik Tak anh yêu em
                                <br>...
                            </p>
                        </div>
                        <div class="bottom-block">
                            <a href="./newspage.cshtml">
                                <div class="btn-view-more btn">XEM THÊM</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div id="banner3" class="banner">
                    <div class="banner-img">
                        <img src="img/banner3.jpg" />
                    </div>
                    <div class="info-content">
                        <div class="black-background"></div>
                        <div class="top-block">
                            <h3 class="title">Cánh diều vàng 2017: Điện ảnh Việt Nam như đang trẻ lại</h3>
                            <p class="text">
                                NSND Đặng Nhật Minh, đạo diễn của những bộ phim nổi tiếng như "Bao giờ cho đến Tháng Mười", "Đừng đốt" cho rằng, điện ảnh Việt Nam như đang trẻ lại.
                                <br>
                                Theo ông, các phim giải trí năm nay tốt hơn những năm trước, không có phim hài nhảm. Tuy nhiên, tính giải trí chỉ dành cho khán giả trẻ chứ không phải dành cho khán giả phổ thông.
                            </p>
                        </div>
                        <div class="bottom-block">
                            <a href="./newspage.cshtml">
                                <div class="btn-view-more btn">XEM THÊM</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div id="banner4" class="banner">
                    <div class="banner-img">
                        <img src="img/banner4.jpg" />
                    </div>
                    <div class="info-content">
                        <div class="black-background"></div>
                        <div class="top-block">
                            <h3 class="title">Trương Ngọc Ánh được sắp xếp trao giải cho Trần Bảo Sơn</h3>
                            <p class="text">Đêm 8/1, tại Nhà hát TP. HCM, giải thưởng “Ngôi sao xanh” đã vinh danh Trần Bảo Sơn cùng nhiều nghệ sỹ khác trong ngành công nghiệp điện ảnh và truyền hình tại Việt Nam. Trương Ngọc Ánh đã xướng tên chồng cũ trong hạng mục danh giá: Nam diễn viên điện ảnh xuất sắc nhất.</p>
                        </div>
                        <div class="bottom-block">
                            <a href="./newspage.cshtml">
                                <div class="btn-view-more btn">XEM THÊM</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div id="banner5" class="banner">
                    <div class="banner-img">
                        <img src="img/banner5.jpg" />
                    </div>
                    <div class="info-content">
                        <div class="black-background"></div>
                        <div class="top-block">
                            <h3 class="title">Kim Tuyến bất ngờ nhận giải Cánh diều vàng</h3>
                            <p class="text">
                                Tại Lễ trao giải Cánh diểu vàng 2015 diễn ra tại Hà Nội đêm 20/4,DVDA Kim Tuyến đã bất ngờ nhận được giải thưởng Nữ diễn viên phụ xuất sắc nhật với bộ phim Tuổi Thanh Xuân.
                                <br>Tham gian trong Lễ trao giải,Kim Tuyến đã chọn chiếc đầm mằ trắng nhẹ nhàng và tinh khiết với kiểu dáng trẻ trung,sang trọng của NTK Chung Thanh Phong.
                            </p>
                        </div>
                        <div class="bottom-block">
                            <a href="./newspage.cshtml">
                                <div class="btn-view-more btn">XEM THÊM</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
<section id="history">
    <div class="info-content">
        <h3 class="title">Lịch sử giải thưởng cánh diều vàng</h3>
        <p class="text">
            Giải thưởng Hội điện ảnh Việt Nam, có tên gọi là Cánh Diều Vàng (tiếng Anh: Golden Kites Awards) là một giải thưởng điện ảnh hàng năm của Hội Điện ảnh Việt Nam.
            Giải thưởng được trao vào khoảng tháng ba, cho những tác phẩm điện ảnh sản xuất trong năm trước đó. Giải được tổ chức lần đầu tiên là Cánh diều vàng 2002, diễn ra vào đầu 2003.
            Trong các hạng mục trao giải còn có Cánh diều bạc và Cánh diều đồng, tuy có những năm bị loại bỏ. Mặc dù là giải thưởng điện ảnh, Cách diều vàng còn trao cho cả các tác phẩm truyền hình và phim video.
        </p>
        <p class="text">
            Thực chất Cánh diều vàng là một giải thưởng mang tính nội bộ nằm trong hệ thống giải thưởng chung của Hội Liên hiệp văn học nghệ thuật.
            Hội Liên hiệp văn học nghệ thuật gồm có bảy hội: văn học, âm nhạc, sân khấu, mỹ thuật, nhiếp ảnh, kiến trúc, điện ảnh.
            Nhằm khuyến khích các nghệ sĩ thông qua tác phẩm, hàng năm Chính phủ cấp kinh phí cho mỗi hội để trao giải thưởng.
            Giải của Hội Điện ảnh bắt đầu trao từ năm 1993.
        </p>
        <p class="text">
            Năm 2003, Hội Điện ảnh Việt Nam đặt tên cho giải của mình là Cánh diều vàng, và kết hợp cùng Đài Truyền hình Việt Nam đưa
            buổi lễ trao giải lên sóng truyền hình trực tiếp với sự hỗ trợ của các doanh nghiệp thông qua quảng cáo.
            Qua lịch sử của giải thưởng, nhiều hạng mục của giải được thay đổi. Ở giải Cánh diều vàng 2005, Cánh diều bạc và Cánh diều đồng bị bỏ bớt.
            Đến giải 2006, Cánh diều bạc được khôi phục và bằng khen thay cho Cánh diều đồng. Năm 2007, Hội Điện ảnh trao tặng thêm Cách diều bạc và hai giải phụ là
            Giải phim phục vụ khán giả đông nhất và Giải phim bán được nhiều vé nhất....
        </p>
        <div class="row">
            <a href="~/historypage.cshtml">
                <div class="btn-view-more btn">XEM THÊM</div>
            </a>
        </div>
    </div>
    <div class="history-img">
        <img src="img/histoty-1.png">
    </div>
</section>
<section id="film-awarded">
    <h3 class="title">Thông tin các tác phẩm điện ảnh đạt giải</h3>
    <div class="panel-controller">
        <div class="panel-controller-element col-lg-3 col-md-3 col-sm-8 col-xs-12" data-index="film-1">
            <div class="content">
                <div class="img">
                    <img src="img/cbsg-logo.png">
                </div>
                <div class="award-archieve row">
                    <div class="award-img col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <img src="img/film-award-logo-1.png">
                    </div>
                    <div class="gold-award award-name col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <div class="award">Cánh Diều Vàng</div>
                        <div class="category">Phim chiếu rạp</div>
                        <p>-----</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-controller-element col-lg-3 col-md-3 col-sm-8 col-xs-12" data-index="film-2">
            <div class="content">
                <div class="img">
                    <img src="img/ec18-logo.png">
                </div>
                <div class="award-archieve row">
                    <div class="award-img col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <img src="img/film-award-logo-2.png">
                    </div>
                    <div class="silver-award award-name col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <div class="award">Cánh Diều Bạc</div>
                        <div class="category">Phim chiếu rạp</div>
                        <p>-----</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-controller-element col-lg-3 col-md-3 col-sm-8 col-xs-12" data-index="film-3">
            <div class="content">
                <div class="img">
                    <img src="img/tnoa-logo.png">
                </div>
                <div class="award-archieve row">
                    <div class="award-img col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <img src="img/film-award-logo-1.png">
                    </div>
                    <div class="gold-award award-name col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <div class="award">Cánh Diều Vàng</div>
                        <div class="category">Phim truyền hình</div>
                        <p>-----</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-controller-element col-lg-3 col-md-3 col-sm-8 col-xs-12" data-index="film-4">
            <div class="content">
                <div class="img">
                    <img src="img/lydvs-logo.png">
                </div>
                <div class="award-archieve row">
                    <div class="award-img col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <img src="img/film-award-logo-2.png">
                    </div>
                    <div class="silver-award award-name col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <div class="award">Cánh Diều Bạc</div>
                        <div class="category">Phim truyền hình</div>
                        <p>-----</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-content">
        @foreach (var row in db.Query(selectQueryString))
        {
            foreach (var row1 in db.Query("SELECT * FROM Phim Where GiaiThuong='Canh dieu bac'"))
            {

                foreach (var row2 in db.Query("SELECT * FROM Phim Where GiaiThuong='Canh dieu vang truyen hinh'"))
                {
                    foreach (var row3 in db.Query("SELECT * FROM Phim Where GiaiThuong='Canh dieu bac truyen hinh'"))
                    {
                        <div id="film-1" class="film hidden">
                            <div class="content">

                                <h3 class="title">
                                    @row.TenPhim>
                                    <p class="award">*---Cánh diều vàng - Phim chiếu rạp---*</p>
                                    <p class="text">@row.GioiThieuPhim</p>

                                    <p class="text">Nội dung:</p>
                                    <p class="text">@row.NoiDungPhim</p>
                            </div>
                            <div class="trailer col-md-8">
                                <iframe width="560" height="315" src="@row.Video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="more-info col-md-4">
                                <div class="top">
                                    <p class="text">Đạo diễn: @row.DaoDien</p>
                                    <p class="text">Nhà sản xuất: @row.Nhasanxuat</p>
                                    <p class="text">Diễn viên: @row.DienVien</p>
                                    <p class="text">Doanh thu: @row.DoanhThu</p>
                                </div>
                                <div class="bottom">
                                    <a href="./filmpage.cshtml">
                                        <div class="btn-view-more btn">XEM THÊM</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="film-2" class="film hidden">
                            <div class="content">
                                <h3 class="title">
                                    @row1.TenPhim>
                                    <p class="award">*---Cánh diều bạc - Phim chiếu rạp---*</p>
                                    <p class="text">@row1.GioiThieuPhim</p>

                                    <p class="text">Nội dung:</p>
                                    <p class="text">@row1.NoiDungPhim</p>
                            </div>
                            <div class="trailer col-md-8">
                                <iframe width="560" height="315" src="@row1.Video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="more-info col-md-4">
                                <div class="top">
                                    <p class="text">Đạo diễn: @row1.DaoDien</p>
                                    <p class="text">Nhà sản xuất: @row1.Nhasanxuat</p>
                                    <p class="text">Diễn viên: @row1.DienVien</p>
                                    <p class="text">Doanh thu: @row1.DoanhThu</p>
                                </div>
                                <div class="bottom">
                                    <a href="./filmpage.cshtml">
                                        <div class="btn-view-more btn">XEM THÊM</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="film-3" class="film hidden">
                            <div class="content">

                                <h3 class="title">
                                    @row2.TenPhim>
                                    <p class="award">*---Cánh diều vàng - Phim chiếu rạp---*</p>
                                    <p class="text">@row2.GioiThieuPhim</p>

                                    <p class="text">Nội dung:</p>
                                    <p class="text">@row2.NoiDungPhim</p>
                            </div>
                            <div class="trailer col-md-8">
                                <iframe width="560" height="315" src="@row2.Video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="more-info col-md-4">
                                <div class="top">
                                    <p class="text">Đạo diễn: @row2.DaoDien</p>
                                    <p class="text">Nhà sản xuất: @row2.Nhasanxuat</p>
                                    <p class="text">Diễn viên: @row2.DienVien</p>
                                    <p class="text">Doanh thu: @row2.DoanhThu</p>
                                </div>
                                <div class="bottom">
                                    <a href="./filmpage.cshtml">
                                        <div class="btn-view-more btn">XEM THÊM</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="film-4" class="film hidden">
                            <div class="content">
                                <h3 class="title">
                                    @row3.TenPhim>
                                    <p class="award">*---Cánh diều bạc - Phim chiếu rạp---*</p>
                                    <p class="text">@row3.GioiThieuPhim</p>

                                    <p class="text">Nội dung:</p>
                                    <p class="text">@row3.NoiDungPhim</p>
                            </div>
                            <div class="trailer col-md-8">
                                <iframe width="560" height="315" src="@row3.Video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="more-info col-md-4">
                                <div class="top">
                                    <p class="text">Đạo diễn: @row3.DaoDien</p>
                                    <p class="text">Nhà sản xuất: @row3.Nhasanxuat</p>
                                    <p class="text">Diễn viên: @row3.DienVien</p>
                                    <p class="text">Doanh thu: @row3.DoanhThu</p>
                                </div>
                                <div class="bottom">
                                    <a href="./filmpage.cshtml">
                                        <div class="btn-view-more btn">XEM THÊM</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>


</section>
<section id="actor-awarded">
    <h3 class="title">Thông tin nghệ sĩ đạt giải</h3>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="info-content col-md-12">
                    <div class="gr-row-lg">
                        <div class="avatar">
                            <img src="img/kmt.jpg">
                        </div>
                        <p class="name">KIỀU MINH TUẤN</p>
                        <p class="job">--Nam diễn viên chính xuất sắc--</p>
                        <p class="text">Tên thật: Kiều Minh Tuấn</p>
                        <p class="text">Biệt danh: Không có</p>
                        <p class="text">Ngày sinh: ngày 26 tháng 2 năm 1988</p>
                        <p class="text">Quê quán: Bà Rịa - Vũng Tàu, Việt Nam</p>
                    </div>
                    <div class="gr-row-sm">
                        <hr />
                        <div class="gr-row-lg">
                            <p class="text"> Anh được biết đến qua các phim điện ảnh như: Bụi đời Chợ Lớn (2013), Scandal 2: Hào quang trở lại (2014), Em chưa 18 (2017), Lật mặt: Ba chàng khuyết (2018), Chú ơi đừng lấy mẹ con (2018).</p>
                        </div>
                        <div class="gr-row-sm row">
                            <a href="./actorpage.cshtml">
                                <div class="btn-view-more btn">XEM THÊM</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="info-content col-md-12">
                    <div class="gr-row-lg">
                        <div class="avatar">
                            <img src="img/np.jpg">
                        </div>
                        <p class="name">NHÃ PHƯƠNG</p>
                        <p class="job">--Nữ diễn viên chính xuất sắc--</p>
                        <p class="text">Tên thật: Trần Thị Nhã Phương</p>
                        <p class="text">Biệt danh: Nabi Nhã Phương</p>
                        <p class="text">Ngày sinh: ngày 20 tháng 5 năm 1990</p>
                        <p class="text">Quê quán: Đắk Lắk, Việt Nam</p>
                    </div>
                    <div class="gr-row-sm">
                        <hr />
                        <div class="gr-row-lg">
                            <p class="text">Cô được biết đến qua các phim như Những thiên thần áo trắng, Gia đình số đỏ, Hoa nắng, Cô nàng nặng cân, Quả tim máu, Vừa đi vừa khóc, Tuổi thanh xuân, Ngày ấy mình đã yêu.</p>
                        </div>
                        <div class="gr-row-sm row">
                            <a href="~/actorpage.cshtml">
                                <div class="btn-view-more btn">XEM THÊM</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="info-content col-md-12">
                    <div class="gr-row-lg">
                        <div class="avatar">
                            <img src="img/npv.jpg">
                        </div>
                        <p class="name">NHAN PHÚC VINH</p>
                        <p class="job">--Nam diễn viên phụ xuất sắc--</p>
                        <p class="text">Tên thật: Nhan Phúc Vinh</p>
                        <p class="text">Biệt danh: không có</p>
                        <p class="text">Ngày sinh: ngày 27 tháng 6 năm 1986</p>
                        <p class="text">Quê quán: TP.Cần Thơ, Việt Nam</p>
                    </div>
                    <div class="gr-row-sm">
                        <hr />
                        <div class="gr-row-lg">
                            <p class="text">Nhan Phúc Vinh là một nam diễn viên kiêm người mẫu nổi tiếng của làng giải trí Việt Nam. Anh từng giành nhiều giải thưởng trong các cuộc thi người mẫu, và cũng đã có nhiều vai diễn ấn tượng.</p>
                        </div>
                        <div class="gr-row-sm row">
                            <a href="./actorpage.cshtml">
                                <div class="btn-view-more btn">XEM THÊM</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="info-content col-md-12">
                    <div class="gr-row-lg">
                        <div class="avatar">
                            <img src="img/md.jpg">
                        </div>
                        <p class="name">MIDU</p>
                        <p class="job">--Nam diễn viên phụ xuất sắc--</p>
                        <p class="text">Tên thật: Đặng Thị Mỹ Dung</p>
                        <p class="text">Biệt danh: Midu</p>
                        <p class="text">Ngày sinh: ngày 5 tháng 10 năm 1989</p>
                        <p class="text">Quê quán: TP.Hồ Chí Minh, Việt Nam</p>
                    </div>
                    <div class="gr-row-sm">
                        <hr />
                        <div class="gr-row-lg">
                            <p class="text">Midu là một nữ diễn viên, người mẫu ảnh Việt Nam. Cô từng tham gia phim điện ảnh Thiên mệnh anh hùng của đạo diễn Victor Vũ. Cô là cựu sinh viên của trường Đại học Kiến trúc thành phố Hồ Chí Minh.</p>
                        </div>
                        <div class="gr-row-sm row">
                            <a href="./actorpage.cshtml">
                                <div class="btn-view-more btn">XEM THÊM</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section id="contact-us">
    <h3 class="title">Liên hệ với chúng tôi</h3>
    <form action="#">
        <div class="row contact-us-form">
            <div class="col-md-6">
                <div class="form-col">
                    <label class="form-row">Tên khán thính giả:</label>
                    <input class="form-row" type="text" name="user-name" placeholder="Nhập tên khán thính giả">
                </div>
                <div class="form-col">
                    <label class="form-row">Địa chỉ email:</label>
                    <input class="form-row" type="email" name="email" placeholder="Nhập địa chỉ email">
                </div>
                <div class="form-col">
                    <label class="form-row">Tiêu đề:</label>
                    <input class="form-row" type="text" name="title-contact" placeholder="Nhập tiêu đề">
                </div>
                <div class="form-col">
                    <label class="form-row">Nội dung:</label>
                    <textarea class="form-row" id="txtContent-Contact-Us"></textarea>
                </div>
                <div class="row row-btn">
                    <a>
                        <div class="btn btn-view-more">GỬI LỜI NHẮN</div>
                    </a>
                </div>
                <blockquote>Xin chân thành cám ơn bạn đã đóng góp ý kiến!</blockquote>
            </div>
            <div class="col-md-6">
                <blockquote class="line" id="text-title">Lời cảm ơn</blockquote>
                <blockquote>
                    Cảm ơn quý khán thính giả đã sử dụng dịch vụ và đóng góp ý kiến cho chúng tôi. Mọi ý kiến đóng góp sẽ giúp chúng tôi cải thiện chất lượng dịch vụ cũng như chất lượng giải thưởng tốt hơn, đáp ứng sự kỳ vọng của quý vị. Mọi ý kiến đóng góp xin hãy điền vào form kế bên, chúng tôi sẽ cố gắng phản hồi một cách sớm nhất!<br />Chúc quý khách có những phút giây bổ ích khi sử dụng dịch vụ. Xin chân thành cám ơn!
                </blockquote>
                <a class="thumbnail" id="location-in-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.288864253994!2d105.84942521440726!3d21.021124793416007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9094d1534d%3A0x3b2f0f137b8e5586!2zQsOhbyDEkGnhu4duIOG6om5oIFZp4buHdCBOYW0!5e0!3m2!1sen!2s!4v1541364871840" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </a>
            </div>
        </div>
    </form>
</section>
<section id="donors">
    <h3 class="title">Các nhà tài trợ</h3>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/nvl-logo.png">
            </div>
            <div class="swiper-slide">
                <img src="img/va-logo.png">
            </div>
            <div class="swiper-slide">
                <img src="img/hnhn-logo.png">
            </div>
            <div class="swiper-slide">
                <img src="img/dbd-logo.png">
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
<!-- footer -->
<footer class="footer-distributed">
    <div class="footer-left">
        <div class="footer-logo">
            <img src="img/footer-logo.png" alt="">
        </div>
        <p class="footer-links">
            <a>Trang Chủ</a>
            ·
            <a>Lịch sử</a>
            ·
            <a>Bảng xếp hạng</a>
            ·
            <a>Liên hệ</a>
        </p>
        <p class="footer-company-name">Nhóm con chim non &copy; 2018</p>
    </div>
    <div class="footer-center">
        <h4>Các thông tin liên quan:</h4>
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Khu phố 6, phường Linh Trung</span>Quận Thủ Đức, Tp.Hồ Chí Minh</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>(08) 37251993</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:DHCNTT_TPHCM@gm.uit.com.vn">DHCNTT_TPHCM@gm.uit.com.vn</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <h4>Thông tin về nhóm:</h4>
        <p class="group-member">Nhóm bao gồm 4 thành viên:</p>
        <p class="group-member">15520801: Dương Văn Thanh</p>
        <p class="group-member">15520680: Phạm Ngọc Quân</p>
        <p class="group-member">15520693: Trần Hưng Quang</p>
        <p class="group-member">15520679: Nguyễn Trung Quân</p>
        </p>
        <div class="footer-icons">
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-linkedin"></i></a>
            <a><i class="fa fa-github"></i></a>
        </div>
    </div>
</footer>
<div id="login-popup">
    <i class="fa fa-close close-login-popup"></i>
    <div class="popup-content">
        <h3 class="title">Đăng nhập</h3>
        <form>
            <input type="text" value="" placeholder="Nhập tên tài khoản">
            <input type="password" value="" placeholder="Nhập mật khẩu">
        </form>
        <a class="col-md-12">
            <div id="login-btn" class="btn-view-more btn">ĐĂNG NHẬP</div>
        </a>
        <p><a>Quên mật khẩu</a></p>
        <p>Nếu bạn chưa có tài khoản, hãy <a href="./signuppage.cshtml">đăng ký</a> ngay</p>
        <div class="mid-block">
            <hr>
            <h5>Hoặc</h5>
        </div>
        <div class="row">
            <div class="btn-grp">
                <div id="facebook" class="item-group">
                    <a>
                        <i class="fa fa-facebook"></i>
                        <p>Đăng nhập bằng Facebook</p>
                    </a>
                </div>
                <div id="twitter" class="item-group">
                    <a>
                        <i class="fa fa-twitter"></i>
                        <p>Đăng nhập bằng Twitter</p>
                    </a>
                </div>
                <div id="google" class="item-group">
                    <a>
                        <i class="fa fa-google"></i>
                        <p>Đăng nhập bằng Google</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/swiper-4.4.2/dist/js/swiper.min.js"></script>
<script type="text/javascript" src="lib/jquery.bpopup.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</html>