@{
    Layout = "_Layout.cshtml";
    Page.Title = "Danh sách phim nổi bật - Giải thưởng cánh diều vàng";
    Page.Index = 2;
}

@{ 
    var db = Database.Open("DefaultConnection");



    var famousFilmList = db.Query("SELECT TOP 10 * FROM Phim INNER JOIN LoaiPhim ON Phim.MaLoaiPhim = LoaiPhim.MaLoaiPhim ORDER BY DanhGiaPhim desc, MaPhim asc");
    var topFilmInWeek = db.Query("SELECT TOP 5 * FROM Phim INNER JOIN LoaiPhim ON Phim.MaLoaiPhim = LoaiPhim.MaLoaiPhim WHERE NoiBatTuan > 0 ORDER BY NEWID(), NoiBatTuan desc ");

    db.Close();
}

@functions{
    Database db = Database.Open("DefaultConnection");
    public IEnumerable<dynamic> getImgListWithFilm(string filmID)
    {
        IEnumerable<dynamic> list = db.Query("SELECT TOP 4 Link FROM HinhAnhPhim JOIN Phim ON HinhAnhPhim.MaPhim = Phim.MaPhim WHERE Phim.MaPhim = '"+filmID+"'");
        return list;
    }
}

<!--Style for element in page-->
@section styles {
    <link rel="stylesheet" href="~/Content/css/listfilm.css" />
}

<!--Begin page content-->
<section id="rank-list">
    <div class="rank-list-container">
        <h3 class="title">BẢNG XẾP HẠNG CÁC PHIM NỔI BẬT</h3>
        <div class="rank-container">
            <table>
                <tr class="t-row-header">
                    <th class="col-1">STT</th>
                    <th class="col-2">Banner</th>
                    <th class="col-3">Tên phim</th>
                    <th class="col-4">Đ/G</th>
                    <th class="col-5">Tóm tắt</th>
                    <th class="col-6"></th>
                </tr>
                @{
                    int filmIndex = 0;
                    foreach (var film in famousFilmList)
                    {
                        filmIndex++;
                        <tr class="t-row">
                            <td class="col-1">@filmIndex</td>
                            <td class="col-2">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        @{
                                            var imgList = getImgListWithFilm(film.MaPhim);
                                            foreach (var img in imgList)
                                            {
                                                <div class="swiper-slide">
                                                    <img src="@img.Link">
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </td>
                            <td class="col-3">@film.TenPhim<br>(@film.DaoDien)</td>
                            <td class="col-4"><p><span>@film.DanhGiaPhim</span><i class="fa fa-star star"></p></td>
                            <td class="col-5">
                                @if (film.GioiThieuPhim != null)
                                {
                                    string[] filmInfoContent = film.GioiThieuPhim.Split(';');
                                    for (var i_str = 0; i_str < filmInfoContent.Length; i_str++)
                                    {
                                        if (i_str == 0)
                                        {
                                            <p><i>@film.TenPhim</i> @filmInfoContent[i_str]</p>
                                        }
                                        else
                                        {
                                            <p>@filmInfoContent[i_str]</p>
                                        }
                                    }
                                }
                            </td>
                            <td class="col-6">
                                <a href="./filmpage.cshtml?filmID=@film.MaPhim">
                                    <div class="see-more-info-btn">
                                        <div class="btn-content">
                                            <i class="fa fa-chevron-right arrow"></i>
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</section>
<section id="film-of-week">
    <div class="film-of-week-container">
        <h3 class="title">MỘT SỐ PHIM NỔI BẬT TRONG TUẦN</h3>
        <div class="swiper-container content">
            <div class="swiper-wrapper">
                @{
                    for(int i_topFilm = 0; i_topFilm < topFilmInWeek.Count(); i_topFilm++)
                    {
                        var currTopFilm = topFilmInWeek.ElementAt(i_topFilm);
                        <div class="swiper-slide">
                            <div class="film-tag">
                                <div class="top-block">
                                    <div class="star-block">
                                        @for (int star = 0; star < currTopFilm.DanhGiaPhim; star++)
                                            {<i class="fa fa-star star active-star"></i>}
                                    </div>
                                    <div class="image-swiper swiper-container">
                                        <div class="swiper-wrapper">
                                        @{
                                            var topFilm_imgList = getImgListWithFilm(currTopFilm.MaPhim);
                                            foreach(var topFilm_img in topFilm_imgList)
                                            {
                                                <div class="swiper-slide">
                                                    <img src="@topFilm_img.Link">
                                                </div>
                                            }
                                        }
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-block">
                                    <div class="right-pair col-md-9">
                                        <div class="name-block">
                                            <h3 class="title">@currTopFilm.TenPhim - @currTopFilm.TenLoaiPhim</h3>
                                        </div>
                                        <div class="content-block">@currTopFilm.GioiThieuPhim</div>
                                    </div>
                                    <div class="left-pair col-md-3">
                                        <div class="extra-info-block">
                                            @{
                                                if (currTopFilm.DaoDien != null)
                                                    {<p>Đạo diễn: @currTopFilm.DaoDien</p>}
                                                if (currTopFilm.DienVien != null)
                                                    {<p>Diễn viên: @currTopFilm.DienVien</p>}
                                                if (currTopFilm.NhaSanXuat != null)
                                                    {<p>Nhà sản xuất: @currTopFilm.NhaSanXuat</p>}
                                                if (currTopFilm.GhiChu != null)
                                                    {<p>@currTopFilm.GhiChu</p>}
                                            }
                                        </div>
                                        <div class="btn-block">
                                            <a href="./filmpage.cshtml?filmID=@currTopFilm.MaPhim&userID=ND1">
                                                <div class="btn w-btn">
                                                    Xem thêm
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<!--End page content-->
<!--Script js for page-->
@section scripts{
    <script type="text/javascript" src="~/Scripts/js/listfilm.js"></script>
}
