@{
    Layout = "_Layout.cshtml";
    Page.Title = "Tin tức - Giải thưởng cánh diều vàng";
}

@{
    
    var db = Database.Open("DefaultConnection");

    if (db == null)
    {
        <script>alert('Kiểm tra nối đến DB của bạn!');</script>
    }

    var newID = Request["newID"];

    if (newID == null)
    {
        <script>alert('Không tìm thấy tin tức bạn muốn tìm!');</script>
    }

    var newInfo = db.Query("SELECT * FROM TinTuc WHERE MaTinTuc = '" + newID + "'").ElementAt(0);
    var newsList = db.Query("SELECT TOP 3 MaTinTuc, TieuDe, GioiThieuTT, LinkAnhBia FROM TinTuc WHERE MaTinTuc <> '"+ newID +"' ORDER BY NEWID(), NgayDang desc");

    db.Close();
}

@functions{
    string[] Date = new string[3];
    string[] Time = new string[2];

    public void splitDateTime(string datetime)
    {
        Date = datetime.Split('-');
        Time = Date[2].Split(' ');
        Date[2] = Time[0];
    }

    public string changeMonthToString(string month)
    {
        string txtMonth = "";
        switch (month)
        {
            case "01":
                txtMonth = "JAN";
                break;
            case "02":
                txtMonth = "FEB";
                break;
            case "03":
                txtMonth = "MAR";
                break;
            case "04":
                txtMonth = "APR";
                break;
            case "05":
                txtMonth = "MAY";
                break;
            case "06":
                txtMonth = "JUL";
                break;
            case "07":
                txtMonth = "JUN";
                break;
            case "08":
                txtMonth = "AUG";
                break;
            case "09":
                txtMonth = "SEP";
                break;
            case "10":
                txtMonth = "OCT";
                break;
            case "11":
                txtMonth = "NOV";
                break;
            case "12":
                txtMonth = "DEC";
                break;
        }

        return txtMonth;
    }
}

<!--Style for element in page-->
@section styles {
    <link rel="stylesheet" href="~/Content/css/news.css" />
}

<!--Script js for page-->
@section scripts{
    <script type="text/javascript">
        $(document).ready(function(){
        $(window).scroll(function(){
            if($(window).width()>768){
                var bottomNav = $('.nav').offset().top + $('.nav').outerHeight();
                var topFooter = $('.footer-distributed').offset().top;
                var scrollPosTop = $(this).scrollTop();
                var newRelatedHeight = $('#news .fuil-container .news-related').outerHeight()
                var scrollPosBottom = $(this).scrollTop() + newRelatedHeight;
            
                if(bottomNav+54<scrollPosTop && scrollPosBottom<topFooter-46){
                    $('#news .fuil-container .news-related').addClass('news-related-fix');
                    $('#news .fuil-container .news-related').offset({top: scrollPosTop+10});
                }else if(bottomNav+54>=scrollPosTop){
                    $('#news .fuil-container .news-related').removeClass('news-related-fix');
                    $('#news .fuil-container .news-related').offset({top: bottomNav+54});
                }else if(scrollPosBottom>=topFooter-42){
                    $('#news .fuil-container .news-related').removeClass('news-related-fix');
                    $('#news .fuil-container .news-related').offset({top: topFooter-46-newRelatedHeight});
                }
            }
        });

        $('#news .news-related .new-tag').each(function () {
            var index = $(this).attr('data-index');
            var imgURL = $('#' + index).attr('src');
            $(this).css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("' + imgURL + '")');
        });
    });
    </script>
}

<!--Begin page content-->
<section id="news">
    <div class="fuil-container row">
        <div class="new-content col-md-8">
            <div class="new-img">
                <img src="@newInfo.LinkAnhBia">
            </div>
            <hr class="new-line">
            <div class="content">
                <div class="contact">
                    <div class="post-date">
                        @{
                            splitDateTime(@newInfo.NgayDang);
                        }
                        <p>@Date[0]</p>
                        <p>@changeMonthToString(Date[1])</p>
                        <p>@Date[2]</p>
                        <hr>
                        <p>@Time[1]</p>
                    </div>
                    <div class="share">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-google-plus"></i>
                    </div>
                </div>
                <div class="text">
                    <div class="">
                        <h3 class="title">@newInfo.TieuDe</h3>
                        <p class="author">@newInfo.NguoiDang</p>
                    </div>
                    <hr>
                    @if (newInfo.noidungtt != null && newInfo.NoiDungTT != "")
                    {
                        var text = Html.Raw(newInfo.NoiDungTT);
                        <div class="main-text">
                            <script type="text/javascript">
                                $('document').ready(function () {
                                    $('.main-text').html('@text');
                                })
                            </script>
                        </div>
                    }
                    else
                    {
                        <div class="main-text">@newInfo.GioiThieuTT</div>
                    }
                    </div>
                </div>
        </div>

        <div class="news-related col-md-4 col-xs-12">
            <h3 class="news-related-title">Các tin liên quan:</h3>
            @for (int c1 = 0; c1 < newsList.Count(); c1++)
            {
                <a href="./newspage.cshtml?newID=@newsList.ElementAt(c1).MaTinTuc">
                    <div class="new-tag" data-index="img-@c1">
                    
                        <div class="new-tag-img">
                            <img id="img-@c1" src="@newsList.ElementAt(c1).LinkAnhBia">
                        </div>
                        <div class="col-md-5 col-xs-12"></div>
                        <div class="new-tag-content col-md-7 col-xs-12">
                            <h3 class="new-tag-title">@newsList.ElementAt(c1).TieuDe</h3>
                            <p class="sumary">
                                @{string[] content = @newsList.ElementAt(c1).GioiThieuTT.Split(';');}
                                @foreach (var str in content)
                                {
                                    @str
                                    <br>            
                                }
                            </p>
                        </div>
                    
                    </div>
                </a>
            }
        </div>
    </div>
</section>
<!--End page content-->
